<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tividenal</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script>document.write('<base href="' + document.location + '" />');</script>
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/tagsInput/tagsInputStyle.css" />
    <link rel="stylesheet" href="components/tagsInput/ng-tags-input.css"/>
    <link rel="stylesheet" href="components/typeahead/style.css"/>

    <!-- Custom styles for this template -->
    <link href="assets/css/tividenal.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">

    
  </head>

  <body ng-app="Tividenal">
      
    <header>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">Tividenal</a>
        </div>
      </div>
    </header>

    <main role="main" ng-controller="ItemsController">
      <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Dilediğinizce arayın...</h1>
            <p class="lead text-muted">
                Arama kutusuna oyuncu adı, cinsiyet, renk, sahne adı gibi bir çok filtre ekleyerek, merak ettiğiniz ürünü kolayca bulabilirsiniz.
            </p>
          
            <form class="col-lg-12">
                <tags-input use-strings="true" ng-model="tags" placeholder="Bir etiket girin..." class="ti-input-lg search" display-property="text" add-on-paste="true" style="border:0!important">
                        <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                </tags-input>
                <button type="button" class="search-button">
                    <svg class="submit-button"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use></svg>
                </button> 
            </form>  
        </div>
      </section>

      <div class="items text-muted">
        <div class="container">
            <div class="row col-lg-12">

                <div class="col-sm-6 col-lg-4" dir-paginate="item in filtered = (items | filter: tag) | itemsPerPage:pageSize" current-page="currentPage">
                    
                    <div class="card">
                        <a target="_blank" ng-href="{{item.url}}">
                            <img ng-src="{{item.image}}" alt="Card image cap">
                            <p class="card-text">{{item.title}}</p>
                        </a>
                    </div>
                   
                </div>

                <div ng-if="filtered.length == 0">
                    <h5>Aradığınız kriterlerde hiç ürün bulunamadı...</h5>
                </div>

            </div>

            <div ng-controller="PaginationController">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>

        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">↑</a>
        </p>
        <p><b>Tividenal.com</b> bir Doğuş Yeni Girişimler A.Ş. projesidir.</p>
      </div>
    </footer>

    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
        <symbol id="search" viewBox="0 0 32 32">
            <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
        </symbol>
    </svg>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    
    <script src="tividenal.js"></script>
    <script src="components/pagination/dirPagination.js"></script>
    <script src="components/tagsInput/ng-tags-input.js"></script>
    <script src="components/typeahead/bootstrap3-typeahead.min.js"></script>
    

  </body>
</html>